.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.bg-header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oxygen, sans-serif;
    font-size: 35px;
    text-shadow: 10px 5px 25px rgba(15, 15, 15, 0.5);
    color: #fff;
    z-index: 1;
}

.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: blur(4px) brightness(1);
    transform: scale(1.1);
    z-index: -1;
    opacity: 0.5;
}

.bg-image.fade-in {
    opacity: 1;
}

.content {
    text-align: center;
    margin-bottom: 500px;
    position: relative;
}